%h1 Recommendation Debug
%h2 Error: Bad Model
- if (controller.parse_model(params[:model]).constantize rescue nil)
  %h3= "Model (#{controller.parse_model(params[:model])}) does not include Recommendable"
- else
  %h3= "No such model: #{controller.parse_model(params[:model])}"
